a {
	color: #000;
	-webkit-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
	text-decoration: underline;
	font-size: 18px;
}
a:hover {
	color: #E71FE9;
}
.btn {
	display: block;
}